POSTGRES_DB=banco_salvo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=other_password
POSTGRES_HOST=db

NEXT_PUBLIC_FIREBASE_PROJECT_ID=container-dev-a-deploy
NEXT_PUBLIC_DATA_SOURCE=firestore
NEXT_PUBLIC_USE_EMULATOR=true
NEXT_PUBLIC_API_URL=http://backend:8000